@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');
h1 {
    text-align: center;
    font-family: fantasy;
    color: pink;
    border: ridge;
    width: 25%;
    margin: auto;
    background-color: black;
    padding: 1%;
    border-color: pink;
}
body{
    background-color: silver;
}
div {
    float: left;
    float: none;
    display: block;
    padding-top: 5%;
}
#winner {
    font-family: Impact, fantasy;
    color: pink;
    text-align: center;
    border: ridge;
    background-color: black;
    width: 25%;
    height: 5%;
    padding: 0;
    margin: auto;
}
footer {
    border-bottom-style: groove;
    margin: auto;
    display: block;
    color: black;
    text-align: center;
}

#main {
    display: table-row-group;
}